
<div>
  <div class="title">
    <a href="{{show_url}}">{{title}}</a>
  </div>

  <div class="figures">
    <span>{{year}}</span>
    <span>{{runtime}} min</span>
    <span class="genres">{{#each genres}}<span>{{name}}</span>{{/each}}</span>
  </div>
</div>

<div class="plot">
  {{plot}}
</div>
