<%= form_for(@medium) do |f| %>
  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% @medium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="field inline">
    <%= f.label :year %>
    <%= f.text_field :year, :size => 5 %>
  </div>

  <div class="field inline">
    <%= f.label :runtime, "Runtime (min)" %>
    <%= f.text_field :runtime, :size => 7 %>
  </div>
  
  <div class="field">
    <%= f.label :plot %>
    <%= f.text_area :plot, :rows => 5 %>
  </div>

  <div class="field">
    <%= f.label :cover %>
	<div class="inline">
	  <%= image_tag @medium.cover_url(:thumb) if @medium.cover? %>
	</div>
	<div class="inline">
      <%= f.file_field :cover %>
      <%= f.label :remote_cover_url, "or image URL" %>
      <%= f.text_field :remote_cover_url %>
    </div>
  </div>

  <div class="field inline">
    <%= f.label :languages %>
    <% @languages.each do |language| %>
      <div class="checkbox">
        <%= check_box_tag :languages_ids,
                          language.id,
                          @medium.languages.exists?(language),
                          :name => "medium[language_ids][]" %>
        <%= label_tag :language_ids, language.name %>
      </div>
    <% end %>
  </div>

	<div class="field inline">
    <%= f.label :genres %>
    <% Genre.all.each do |genre| %>
      <div class="checkbox">
        <%= check_box_tag :genres_ids,
                          genre.id,
                          @medium.genres.exists?(genre),
                          :name => "medium[genre_ids][]" %>
        <%= label_tag :genre_ids, genre.name %>
      </div>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
