 
<div class="medium">

  <div class="cover">
    <%= link_to image_tag(@medium.cover_url(:thumb)), @medium  if @medium.cover? %>
  </div>

  <div class="title">
    <%= link_to @medium.title, @medium %>
  </div>
  <div class="figures">
	<span><%= @medium.year if @medium.year %></span>
    <span><%= @medium.runtime.to_s + " min" if @medium.runtime? %></span>
  </div>
  <div class="plot">
    <%= @medium.plot %>
  </div>

  <div class="actions">
    <%= link_to 'Edit', edit_medium_path(@medium) %> |
    <%= link_to 'Destroy', @medium, :confirm => 'Are you sure?', :method => :delete %>
  </div>

</div>